/* create a responsive button */



.content-holder {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.input {
    width: 1rem;
}
.sudokuTable {
    display: grid;
    grid-template-columns: repeat(9,min(8vh,10vw));
    grid-template-rows: repeat(9,min(8vh,10vw));

    
}

.sudokuTable * {
    font-size: 150%;
}
.sudokuTable  input {
    text-align: center;
    /* background-color: aqua; */
    border:none;

}
.input {
    background-color: #03045E;
    color: white;
}
.valid {
    background-color: #00FF00;
    color: black;
}
.invalid {
    background-color: red;
    color: white;

}


.sudokuTable > div > *{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}



.rightB {
    border-right: 5px  solid var(--baord-border-color);
}

.leftB {
    border-left: 5px solid var(--baord-border-color);
}

.topB {
    border-top: 5px solid var(--baord-border-color);
}

.bottomB {
    border-bottom: 5px solid var(--baord-border-color);
}

.sudokuTable > div{
    
    
    margin: 0;
    /* border: inherit; */

    /* border: 1px solid; */

    /* width: 10%; */

}