/* create a responsive button */

.input {
    width: 1rem;
}
.sudokuTable {
    display: grid;
    grid-template-columns: repeat(9,10vw);
    grid-template-rows: repeat(9,7vh);

    
}
.sudokuTable * {
    font-size: 150%;
}
.sudokuTable  input {
    text-align: center;
}

.sudokuTable > div{
    
    
    margin: 0;
    border: 1px solid;
    /* width: 10%; */

}
.sudokuTable > div > *{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}


